<%- include('partials/header'); -%> <%# include header from partials  // commenting %>

<div class="container profile">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10 mt-5 pt-5">
            <div class="row">
                <div class="col-sm-3 bg-info rounded-left">
                    <div class="card-block text-center text-white">
                        <i class="fas fa-user-tie fa-7x mt-5"></i>
                        <h5 class="user_name mt-4">USER name</h5>
                        <p>ROLE User</p>
                    </div>
                </div>
                <div class="col-sm-8 bg-white">
                    <h4 class="m-4  text-center" style="text-decoration: underline;">DETAILS</h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="d-block user_phone"><strong>Phone Number :</strong>88787878789</span>
                        </div>
                        <div class="col-sm-6">
                            <span class="d-block user_mail"><strong>Email :</strong>abcxyz@gmail.com</span>
                        </div>
                        <div class="col-sm-6 u_add">
                            <span class="d-block user_address"><strong>Address :</strong>
                            abc xyz near the landmark of the area , this district and that state with this PIN 7878989</span>
                            <a href="">Add New Address</a>
                        </div>
                        <hr>
                        <div class=" col-sm-12 ">
                            <button class="profile_btn cursor"> Carts </button>
                            <button class="profile_btn cursor">Purchase History</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer'); -%> <%# include footer from partials  // commenting %>
</body>
</html>